@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2e86c1;
  --secondary: #084d7c;
  --background-primary: #f0f8ff;
  --border-primary: #3333334d;
  --font-yekan: 'Yekan', sans-serif;
  --font-yekan-bold: 'Yekan Bold', sans-serif;
}
